<h1> Update Page</h1>
<style>
    .container {
      position: relative;
      text-align: center;
      color: white;
    }
    
   
    
    .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
    }
    
   
  
  
    
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    </style>
  <div class="container">
    <img src="/assets/download" alt="Snow" style="width:100%;">
    <div class="top-left">student</div>
    <div class="centered">update</div>
    
       
      
  </div>


