<h1>student-details works!</h1>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Student details</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Bhanvi</td>
    <td>7899</td>
    <td>india</td>
  </tr>
  <tr>
    <td>chang</td>
    <td>588 </td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>098</td>
    <td>Austria</td>
  </tr>
  
  
</table>

</body>
</html>
