
<!--<app-home></app-home> -->

    <!--<app-signup></app-signup> -->
  
 <!--<app-login></app-login> -->
<!--<app-student-dashboard></app-student-dashboard--> 

<!--<app-instructor-dashboard></app-instructor-dashboard> -->
<!--<app-instructor-details></app-instructor-details> -->

<!--<app-student-details></app-student-details> -->

<!--<app-update-details></app-update-details> -->


<a routerLink="home">Home</a><br>
<a routerLink="login">Login</a><br>
<a routerLink="instructor-dashboard">Instructor Dashboard</a><br>
<a routerLink="instructor-details">Instructor Details</a><br>
<a routerLink="instructor-updatedetails">Instructor Updatedetails</a><br>
<a routerLink="signup">Signup</a><br>
<a routerLink="student-dashboard">Student Dashboard</a><br>
<a routerLink="student-details">Student Details</a><br>
<a routerLink="update-details">Update Details</a><br>
<router-outlet></router-outlet> 